/*
*
*=============================================================
*   Hidden Metaboxes
*=============================================================
*
*/

[id^="gi"] {
    display: none;
}

/* 
*
*=============================================================
*    Hide MB Relation Metaboxes: BEGIN
*=============================================================
*
*/
/* On Child Page */
[id$="_from"]{
    display: none;
}

/* On Parent Page */
[id$="_to"] {
    display: none;
}



.add-post-form{
    overflow: hidden;
}

.add-post-input{
    display: block;
    float: left;
    padding-right: 5px;
}

.add-post-btn{
    display: block;
    float: left;
}

.loading-icon{
    height: 30px;
    display: none;
}
